body {
    background: #E2FDFF;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #89EAF0;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #2A3F65;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2A3F65;
    text-underline-position: below;
    color: #89EAF0;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2A3F65;
    color: white;
  }  

  @media only screen and (max-width:620px) {
    /* For mobile phones: */
    .topnav, body{
        width:100%;
    }
}