/* Add a black background color to the top navigation */
.topnav {
    background-color: #89EAF0;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #2A3F65;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #2A3F65;
    color: white;
    transition: 300ms;
    transition-timing-function: ease-in;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #2A3F65;
    color: white;
  }
  
  .topnav a.active::before {
    content : "> ";
  }
    
body {
  background-image:url('https://files.catbox.moe/y3qr7q.png');
  position: relative;
  background-size: cover;
}

.padding {
  padding-left: 50px;
}

p{
  font-size: 36;
}

p.first{
  text-align: justify;
  padding-top: 10px;
}

.image {
  padding: 100px;
  position: relative;
  float: left;
}

div.mainpad {
  padding-top: 10%;
  align-items: center
}

h1{
  font-size: 64;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

