{% extends "base.html" %}
{% block content %}
    <h1>About Me</h1>
    <p class = 'first'>My name is Nadya Aprillia, everyone used to call me Nadya or Pinat. I’m from Palembang, South Sumatera. 
<br>Now I’m studying Computer Science at University of Indonesia.
    <p>My hobbies are :</p>
    <ul>
        <li>Drawing Illustration</li>
        <li>Crafting using UV Resin</li>
        <li>Culinary trips</li>
        <li>Photography</li>
        <li>Reading comics and novels</li>
        <li>Playing computer games</li>
        <li>Listening to music</li>
    </ul>
    <p>Educations</p>
    <ol>
        <li>SD Xaverius 1 Palembang (2007-2013)</li>
        <li>SMP Xaverius 1 Palembang (2013-2015)</li>
        <li>SMA Xaverius 1 Palembang (2015-2018)</li>
        <li>Universitas Indonesia (2019 - now)</li>
    </ol>
    <p>Details</p>
    <ol>
        <li>Name : Nadya Aprillia</li>
        <li>Age : 19</li>
        <li>Angkatan : 2019 (Maung)</li>
        <li>NPM : 1906398566</li>
    </ol>
{% endblock %}
