<!DOCTYPE html>
<html lang="en">
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <meta charset="UTF-8">
    <title>Pinat's blog</title>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="about">About Me</a>
        <a href="contact">Contact</a>
    </div>
</head>
<body class="background">
    <div class = "padding">
    {% block content %} {% endblock %}
    </div>
</body>

</html>