{% extends "base.html" %}
{% block content %}
    <h1>Contacts</h1>
    <p class = 'first'>Media Social</p>
    <ul>
        <li>Instagram : natpinat</li>
        <li>Line : nat_pinat</li>
    </ul>
    <p>Email : nad.nadya124@gmail.com</p>
{% endblock %}