{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

{% block content %}
    <img src="https://files.catbox.moe/8wahl8.png" alt="Nadya Aprillia" class="image">
    <div class = "mainpad">
        <h1>Hello my name is {{ name }}</h1>
        <article>I am {{ age }} years old</article>
        <a href = "https//pinats-web.herokuapp.com">Click here to my Story 4 website</p>
    </div>
{% endblock %}
